* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #FFFFFF;

    --base-color: 194;
    --bg-primary-light: hsl(240, 9%, 89%);
    --primary-color: hsl(var(--base-color), 97%, 31%);

    --text-color: #323238;

    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}

button {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.container {
    display: grid;
    grid-template-areas: "main aside";

    width: clamp(54.7rem, 64.1vw, 82.1rem);
}

.hide {
    display: none;
}

main {
    grid-area: main;

    width: clamp(21.4rem, 25.1vw, 32.1rem);

    align-self: center;
}

#timer {
    font-size: clamp(8.4rem, 9.8vw, 12.6rem);

    display: flex;
    margin-bottom: 1.7rem;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(2.7rem, 3.1vw, 4rem);
}

#controls button svg {
    width: clamp(3.2rem, 3.8vw, 4.8rem);
    height: auto;
}

aside {
    grid-area: aside;

    width: clamp(20.5rem, 24.1vw, 30.8rem);

    display: grid;
    grid-template-areas: "forest rain" "coffee-shop fireplace";
    gap: clamp(2.1rem, 2.5vw, 3.2rem);
    justify-self: right;
}

aside button svg {
    width: clamp(9.2rem, 10.8vw, 13.8rem);
    height: auto;
}

aside button svg path:nth-child(1) {
    fill: var(--bg-primary-light);
}

aside button svg path:nth-child(2) {
    fill: var(--text-color);
}

aside button.active svg path:nth-child(1) {
    fill: var(--primary-color);
}

aside button.active svg path:nth-child(2) {
    fill: var(--bg-color);
}

.sound-forest {
    grid-area: forest;
}

.sound-rain {
    grid-area: rain;
}

.sound-coffee-shop {
    grid-area: coffee-shop;
}

.sound-fireplace {
    grid-area: fireplace;
}